# LIBRERIAS

In [1]:
## Librer√≠as a usar
import networkx as nx
import pandas as pd
import matplotlib.pyplot as plt
import random
import math
from scipy.stats import norm

# DATOS

In [2]:
## Cargar la red
base=pd.read_excel("./Base-inicial.xlsx")
base

,Organization Name,Headquarters Location,Operating Status,Company Type,Number of Investments,Number of Lead Investments,Number of Diversity Investments,Number of Exits,Number of Lead Investors,Number of Investors,...,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Number of Events,SEMrush - Monthly Visits,SEMrush - Average Visits (6 months),SEMrush - Visit Duration,Aberdeen - IT Spend,Aberdeen - IT Spend Currency,Aberdeen - IT Spend Currency (in USD),Principales inversionistas
0,Tencent,"Shenzhen, Guangdong, China",Active,For Profit,693.0,375.0,15.0,125.0,1.0,4.0,...,USD,1.257677e+10,22.0,"4,085,844","3,553,184",600.0,NaN,NaN,NaN,"IDG Capital, Prosus & Naspers, Lippo Group, PCCW"
1,Warburg Pincus,"New York, New York, United States",Active,NaN,433.0,286.0,22.0,131.0,NaN,NaN,...,USD,3.802820e+07,NaN,34.635,"34,033.67",392.0,53801.0,USD,53801.0,NaN
2,Twitter,"San Francisco, California, United States",Active,For Profit,10.0,2.0,1.0,3.0,9.0,37.0,...,USD,4.430192e+09,77.0,"6,026,399,205","3,104,998,131.33",942.0,NaN,NaN,NaN,"Andreessen Horowitz, Morgan Stanley, Spark Cap..."
3,Ubisoft,"Montreuil-sous-bois, Ile-de-France, France",Active,For Profit,9.0,NaN,NaN,1.0,1.0,4.0,...,USD,7.706506e+08,16.0,"32,820,567","27,881,933.83",392.0,NaN,NaN,NaN,"Tencent, JP Morgan Chase, Ontario Teachers' Pe..."
4,WeWork,"New York, New York, United States",Active,For Profit,9.0,6.0,4.0,2.0,11.0,24.0,...,USD,2.159578e+10,120.0,"2,646,155","2,483,475.83",280.0,343977.0,USD,343977.0,"SoftBank, JP Morgan Chase, Goldman Sachs, Insi..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,Activation Capital,NaN,Active,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2207,Gavi,"Moritzburg, Sachsen, Germany",Active,For Profit,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4070569.0,USD,4070569.0,NaN
2208,BF Holdings,"Dudley, Dudley, United Kingdom",Closed,For Profit,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2209,GO Virginia,NaN,Active,NaN,2.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.495,NaN,0.0,NaN,NaN,NaN,NaN
2210,Amit Gupta,NaN,Active,For Profit,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
base.dtypes

Organization Name                                       object
Headquarters Location                                   object
Operating Status                                        object
Company Type                                            object
Number of Investments                                  float64
Number of Lead Investments                             float64
Number of Diversity Investments                        float64
Number of Exits                                        float64
Number of Lead Investors                               float64
Number of Investors                                    float64
Industry Groups                                         object
Industries                                              object
Number of Funding Rounds                               float64
Funding Status                                          object
Last Funding Date                               datetime64[ns]
Last Funding Amount                                    float64
Last Funding Amount Currency                            object
Last Funding Amount Currency (in USD)                  float64
Last Funding Type                                       object
Last Equity Funding Type                                object
Last Equity Funding Amount                             float64
Last Equity Funding Amount Currency                     object
Last Equity Funding Amount Currency (in USD)           float64
Total Funding Amount                                   float64
Total Funding Amount Currency                           object
Total Funding Amount Currency (in USD)                 float64
Number of Events                                       float64
SEMrush - Monthly Visits                                object
SEMrush - Average Visits (6 months)                     object
SEMrush - Visit Duration                               float64
Aberdeen - IT Spend                                    float64
Aberdeen - IT Spend Currency                            object
Aberdeen - IT Spend Currency (in USD)                  float64
Principales inversionistas                              object
dtype: object

# CREACI√ìN DE NODOS Y ARCOS

In [6]:
# Crear los nodos
nodos = base.dropna(subset=['Organization Name', 'Principales inversionistas'])
nodos

,Organization Name,Headquarters Location,Operating Status,Company Type,Number of Investments,Number of Lead Investments,Number of Diversity Investments,Number of Exits,Number of Lead Investors,Number of Investors,...,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Number of Events,SEMrush - Monthly Visits,SEMrush - Average Visits (6 months),SEMrush - Visit Duration,Aberdeen - IT Spend,Aberdeen - IT Spend Currency,Aberdeen - IT Spend Currency (in USD),Principales inversionistas
0,Tencent,"Shenzhen, Guangdong, China",Active,For Profit,693.0,375.0,15.0,125.0,1.0,4.0,...,USD,1.257677e+10,22.0,"4,085,844","3,553,184",600.00,NaN,NaN,NaN,"IDG Capital, Prosus & Naspers, Lippo Group, PCCW"
2,Twitter,"San Francisco, California, United States",Active,For Profit,10.0,2.0,1.0,3.0,9.0,37.0,...,USD,4.430192e+09,77.0,"6,026,399,205","3,104,998,131.33",942.00,NaN,NaN,NaN,"Andreessen Horowitz, Morgan Stanley, Spark Cap..."
3,Ubisoft,"Montreuil-sous-bois, Ile-de-France, France",Active,For Profit,9.0,NaN,NaN,1.0,1.0,4.0,...,USD,7.706506e+08,16.0,"32,820,567","27,881,933.83",392.00,NaN,NaN,NaN,"Tencent, JP Morgan Chase, Ontario Teachers' Pe..."
4,WeWork,"New York, New York, United States",Active,For Profit,9.0,6.0,4.0,2.0,11.0,24.0,...,USD,2.159578e+10,120.0,"2,646,155","2,483,475.83",280.00,343977.0,USD,343977.0,"SoftBank, JP Morgan Chase, Goldman Sachs, Insi..."
5,Wagestream,"London, England, United Kingdom",Active,For Profit,1.0,NaN,NaN,NaN,6.0,15.0,...,USD,2.543234e+08,NaN,33.731,"19,865.67",122.00,NaN,NaN,NaN,"Smash Capital, Ascension, BlackRock, QED Inves..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,Baidu,"Beijing, Beijing, China",Active,For Profit,113.0,62.0,3.0,27.0,5.0,10.0,...,USD,2.620000e+07,37.0,"165,824,170","135,372,669.33",976.00,NaN,NaN,NaN,"Google, IDG Capital, Threshold, ePlanet Capita..."
2114,Backstage Capital,"West Hollywood, California, United States",Active,NaN,143.0,24.0,114.0,3.0,NaN,1.0,...,NaN,NaN,1.0,13.025,18.055,546.00,NaN,NaN,NaN,Josef Scarantino
2143,Boost VC,"San Mateo, California, United States",Active,NaN,266.0,25.0,38.0,29.0,NaN,1.0,...,NaN,NaN,3.0,734,"2,610.83",53.00,NaN,NaN,NaN,Mason Ng
2147,ESL Gaming,"Cologne, Nordrhein-Westfalen, Germany",Active,For Profit,1.0,1.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Omnes Capital
2181,Bigpoint,"Hamburg, Hamburg, Germany",Active,For Profit,4.0,NaN,NaN,2.0,NaN,5.0,...,USD,4.598708e+08,NaN,133.352,"224,493.17",1.75,5223573.0,USD,5223573.0,"TA Associates, Summit Partners, GMT Capital, P..."

In [21]:
# Crear los arcos para estos nuevos individuos
sources = [] # lista de origenes
target = [] # lista de destinos

for i in nodos.index:
    texto = nodos["Principales inversionistas"][i]
    conexiones = texto.split(',')
    for j in range(len(conexiones)):
        # Agregar el origen
        sources.append(nodos["Organization Name"][i])
        # Agregar el destino
        target.append(conexiones[j])

In [ ]:
# Crear el archivo de nodos

# Crear una lista con los nodos capturados
completos = np.unique(sources+target)

# Guardar la anterior lista en un Data Frame
nodos=pd.DataFrame(completos, columns=['nodo'])
nodos

In [22]:
# Crear el archivo de arcos

tuplas=list(zip(sources, target))

# Crear un Data Frame a partir de las tuplas
arcos = pd.DataFrame( tuplas, columns =['Source', 'Target'])
arcos

        Source                        Target
0      Tencent                   IDG Capital
1      Tencent              Prosus & Naspers
2      Tencent                   Lippo Group
3      Tencent                          PCCW
4      Twitter           Andreessen Horowitz
...        ...                           ...
5071  Bigpoint                 TA Associates
5072  Bigpoint               Summit Partners
5073  Bigpoint                   GMT Capital
5074  Bigpoint                Peacock Equity
5075  Bigpoint   GMT Communications Partners

[5076 rows x 2 columns]